openapi: 3.1.0
info:
  title: CryptoWorldz Bot Command Centre
  version: 2.0.0
  description: Securely sends approved Telegram messages through Zed, the CryptoWorldz bot.
  license:
    name: All rights reserved
servers:
  - url: https://cryptobotz.cryptoworldz.xyz
paths:
  /api/command:
    post:
      operationId: sendCryptoWorldzMessage
      summary: Send a message to an approved CryptoWorldz Telegram chat
      description: Sends one plain-text message. The destination must be present in ALLOWED_CHAT_IDS.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - action
                - chat_id
                - text
              properties:
                action:
                  type: string
                  enum:
                    - send_message
                chat_id:
                  type: string
                  minLength: 1
                  description: An approved Telegram chat ID.
                text:
                  type: string
                  minLength: 1
                  maxLength: 4096
      responses:
        "200":
          description: Message sent successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommandResponse"
        "400":
          description: Invalid or unsupported request.
        "401":
          description: Invalid or missing bearer token.
        "403":
          description: Telegram chat is not approved.
        "502":
          description: Telegram delivery failed.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    CommandResponse:
      type: object
      additionalProperties: false
      required:
        - ok
        - request_id
      properties:
        ok:
          type: boolean
          const: true
        request_id:
          type: string
