openapi: 3.1.0
info:
  title: OneWorldz Hub Central
  version: 3.0.0
  description: Owner-controlled OneWorldz Command Centre for Telegram, Hostinger diagnostics and approval-gated hosting actions.
  license:
    name: All rights reserved
servers:
  - url: https://cryptobotz.cryptoworldz.xyz
security:
  - bearerAuth: []
paths:
  /api/command:
    post:
      operationId: sendCryptoWorldzMessage
      summary: Send a message to an approved CryptoWorldz Telegram chat
      description: Sends one plain-text message. The destination must be present in ALLOWED_CHAT_IDS.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [action, chat_id, text]
              properties:
                action:
                  type: string
                  enum: [send_message]
                chat_id:
                  type: string
                  minLength: 1
                text:
                  type: string
                  minLength: 1
                  maxLength: 4096
      responses:
        "200": { description: Message sent successfully. }
        "400": { description: Invalid or unsupported request. }
        "401": { description: Invalid or missing bearer token. }
        "403": { description: Telegram chat is not approved. }
        "502": { description: Telegram delivery failed. }

  /api/hub-central/status:
    get:
      operationId: getOneWorldzHubStatus
      summary: Check OneWorldz Hub Central readiness
      description: Read-only. Reports whether Hostinger and OpenAI server integrations are configured.
      responses:
        "200": { description: Hub status returned. }
        "401": { description: Owner authentication required. }

  /api/hub-central/public-dns/{domain}:
    get:
      operationId: diagnosePublicDns
      summary: Diagnose public DNS for one domain
      description: Read-only DNS lookup. Does not change Hostinger or registrar settings.
      parameters:
        - name: domain
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: DNS diagnostic returned. }
        "400": { description: Invalid domain. }
        "401": { description: Owner authentication required. }

  /api/hub-central/hostinger/dns/{domain}:
    get:
      operationId: inspectHostingerDns
      summary: Compare Hostinger DNS with public DNS
      description: Read-only. Retrieves the Hostinger DNS zone and current public resolution.
      parameters:
        - name: domain
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Hostinger and public DNS returned. }
        "401": { description: Owner authentication required. }
        "502": { description: Hostinger API request failed. }

  /api/hub-central/hostinger/dns/{domain}/a:
    post:
      operationId: setHostingerARecord
      summary: Set one Hostinger A record after explicit owner approval
      description: Write action. The server validates the record with Hostinger before applying it. Never call without explicit owner approval.
      parameters:
        - name: domain
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [ip, confirmation]
              properties:
                name:
                  type: string
                  default: "@"
                ip:
                  type: string
                  description: IPv4 address.
                ttl:
                  type: integer
                  minimum: 60
                  maximum: 604800
                  default: 14400
                confirmation:
                  type: string
                  enum: [APPROVE HOSTINGER WRITE]
      responses:
        "200": { description: Record validated, updated and re-read from Hostinger. }
        "400": { description: Invalid input or approval phrase missing. }
        "401": { description: Owner authentication required. }
        "422": { description: Hostinger rejected DNS validation. }

  /api/hub-central/hostinger/subdomains:
    post:
      operationId: createHostingerSubdomain
      summary: Create a Hostinger subdomain after explicit owner approval
      description: Write action. Creates a subdomain under an existing Hostinger website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [domain, subdomain, confirmation]
              properties:
                domain: { type: string }
                subdomain: { type: string }
                directory: { type: string }
                confirmation:
                  type: string
                  enum: [APPROVE HOSTINGER WRITE]
      responses:
        "201": { description: Subdomain created. }
        "400": { description: Invalid input or approval phrase missing. }
        "401": { description: Owner authentication required. }

  /api/hub-central/hostinger/cache/clear:
    post:
      operationId: clearHostingerCache
      summary: Clear Hostinger website cache after explicit owner approval
      description: Write action. Clears cache only for the named hosted website.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [domain, confirmation]
              properties:
                domain: { type: string }
                confirmation:
                  type: string
                  enum: [APPROVE HOSTINGER WRITE]
      responses:
        "200": { description: Cache cleared. }
        "400": { description: Invalid input or approval phrase missing. }
        "401": { description: Owner authentication required. }

  /api/hub-central/chat:
    post:
      operationId: askOneWorldzHubCentral
      summary: Ask OneWorldz AI to diagnose or propose a Hostinger action
      description: AI planning only. Hostinger write proposals are returned for separate approval and are never silently executed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [message]
              properties:
                message:
                  type: string
                  minLength: 1
                  maxLength: 4000
      responses:
        "200": { description: AI response and zero or more action proposals returned. }
        "400": { description: Invalid request or OpenAI not configured. }
        "401": { description: Owner authentication required. }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    CommandResponse:
      type: object
      additionalProperties: false
      required: [ok, request_id]
      properties:
        ok:
          type: boolean
          const: true
        request_id:
          type: string
